<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- Stylesheet for leaflet -->
    <link
      rel="stylesheet"
      href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css"
      integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
      crossorigin=""
    />

    <link
      rel="stylesheet"
      href="https://unpkg.com/leaflet.markercluster@1.4.1/dist/MarkerCluster.Default.css"
    />
    <link
      rel="stylesheet"
      href="https://unpkg.com/leaflet.markercluster@1.4.1/dist/MarkerCluster.css"
    />

    <link rel="stylesheet" href="../css/main.css" />

    <title>Trent Global Project 1</title>
  </head>
  <body id="airbnb">
    <%- include('navbar.ejs') %> <%- include('menu.ejs') %>
    <main>
      <%- include('sidebar.ejs') %> <%- include('modal.ejs') %>
      <div id="map"></div>
    </main>
    <%- include('scripts.ejs') %>
  </body>
</html>
